* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #E9E9E9;
}

.INICIO {
    background-color: #C99C9E;
    height: 200px;
    display: flex;
    justify-content: center;
}

.A {
    text-decoration: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

section{
    display: flex;
    justify-content: space-between;
}

.COLECAO {
    display: flex;
    flex-direction: column;

}

h2 {
    padding-top: 80px;
    padding-left: 70px;
    font-size: 50px;
    height: 1px;
    width: 765px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
}

.VESTIR {
    display: flex;
    padding-top: 70px;
    padding-left: 70px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
}

.BOTAO {
    background-color: #851B1B;
    color: white;
    font-size: 20px;
    padding: 30px 30px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    font-weight:500;
    font-size: 23.94px;
}

.mulher {
    display: flex;
}

img {
    width: 355px;
    height: 510px;
}

footer {
    padding-top:0 ;
    background-color: black;
    padding: 105px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.PÉ {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}



