body {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 200px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

button {
    border: none;
    background: none;
}