body {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 10px 10px;

    height: 100vh;
    gap: 10px;

    grid-template-areas:
    "imagem1 imagem2 imagem3"
    "imagem4 imagem5 imagem6"
    "imagem7 imagem8 imagem9"
    ;
}

.imagem1 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem2 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem3 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem4 {
    display: flex;
    height: 540px;
    width: 45px;
}
.imagem5 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem6 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem7 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem8 {
    display: flex;
    height: 540px;
    width: 540px;
}
.imagem9 {
    display: flex;
    height: 540px;
    width: 540px;
}