body {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;

    margin: 50px;

    height: 100vh;
    gap: 5px;

    grid-template-areas:
    "quadrado1 quadrado2 quadrado3"
    "quadrado4 quadrado5 quadrado6"
    "quadrado7 quadrado8 quadrado9"
    "quadrado10 quadrado11 quadrado12"
    ;
}

.quadrado1 {
    grid-area: quadrado1;
    background-color: blue;
}

.quadrado2 {
    grid-area: quadrado2;
    background-color: green;
}

.quadrado3 {
    grid-area: quadrado3;
    background-color: rgb(145, 8, 236);
}

.quadrado4 {
    grid-area: quadrado4;
    background-color: rgb(70, 93, 219);
}

.quadrado5 {
    grid-area: quadrado5;
    background-color: rgb(36, 211, 50);
}

.quadrado6 {
    grid-area: quadrado6;
    background-color: rgb(155, 55, 236);
}

.quadrado7 {
    grid-area: quadrado7;
    background-color: rgb(117, 125, 235);
}

.quadrado8 {
    grid-area: quadrado8;
    background-color: rgb(119, 190, 125);
}

.quadrado9 {
    grid-area: quadrado9;
    background-color: rgb(199, 102, 255);
}

.quadrado10 {
    grid-area: quadrado10;
    background-color: rgb(182, 185, 226);
}

.quadrado11 {
    grid-area: quadrado11;
    background-color: rgb(205, 235, 206);
}

.quadrado12 {
    grid-area: quadrado12;
    background-color: rgb(197, 165, 240);
}