section {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    background-color: rgba(10, 207, 214, 0.614);
}

.aprovado {
    color: green;
}

.reprovado {
    color: red;
}